Dobachesky_Midterm/Midterm_pt2b/Service References/NEITStoreOrderService/NEITStoreOrderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Midterm_pt2a" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Midterm_pt2a" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="accountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfaccounts" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="accountInfo" nillable="true" type="tns:accountInfo" />
  <xs:complexType name="ArrayOfaccounts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="accounts" nillable="true" type="tns:accounts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaccounts" nillable="true" type="tns:ArrayOfaccounts" />
  <xs:complexType name="accounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Options" nillable="true" type="tns:options" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="accounts" nillable="true" type="tns:accounts" />
  <xs:complexType name="options">
    <xs:sequence>
      <xs:element minOccurs="0" name="FreeChecking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverDraftProtection" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="options" nillable="true" type="tns:options" />
</xs:schema>