Dobachesky_Assn4/Dobachesky_Assn4_Console/Service References/OrderService/OrderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dobachesky_Assn4" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dobachesky_Assn4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BillingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingInfo" nillable="true" type="tns:BillingInfo" />
</xs:schema>