Dobachesky_Assn4/Dobachesky_Assn4_Console/Service References/OrderService/OrderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58597/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dobachesky_Assn4" />
  <xs:element name="GetNumberOfOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberOfOrdersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalCostForAnOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalCostForAnOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalCostForAnOrderResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemListForOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemListForOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemListForOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HowManyOrderedForAPartNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sPartNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HowManyOrderedForAPartNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HowManyOrderedForAPartNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingAddressForAnOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingAddressForAnOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dobachesky_Assn4" minOccurs="0" name="GetBillingAddressForAnOrderResult" nillable="true" type="q1:BillingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>